<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>ClassName</key>
		<string>NewsPage</string>
		<key>Title</key>
		<string>新闻</string>
		<key>Image</key>
		<string>NewsIcon.png</string>
		<key>SelectImage</key>
		<string>NewsIconSelect.png</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>ReaderPage</string>
		<key>Title</key>
		<string>阅读</string>
		<key>Image</key>
		<string>ReaderIcon.png</string>
		<key>SelectImage</key>
		<string>ReaderIconSelect.png</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>VoicePage</string>
		<key>Title</key>
		<string>视听</string>
		<key>Image</key>
		<string>VoiceIcon.png</string>
		<key>SelectImage</key>
		<string>VoiceIconSelect.png</string>
		<key>UnLoad</key>
		<false/>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>DiscoveryPage</string>
		<key>Title</key>
		<string>发现</string>
		<key>Image</key>
		<string>DiscoveryIcon.png</string>
		<key>SelectImage</key>
		<string>DiscoveryIconSelect.png</string>
	</dict>
	<dict>
		<key>ClassName</key>
		<string>LoginPage</string>
		<key>Title</key>
		<string>我</string>
		<key>Image</key>
		<string>MyIcon.png</string>
		<key>SelectImage</key>
		<string>MyIconSelect.png</string>
	</dict>
</array>
</plist>
